.dropbtn {
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  background-color: #ffffff;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #ffffff;
  z-index: 0;
}

.Payment_Method:hover .dropdown-content {
  display: block;
}
/* ======================================================================= */
.Payment_Order {
  display: flex;
  justify-content: space-evenly;
}
.Payment_Method {
  padding: 0px 16px;
  border-radius: 16px;
  border: 1px solid #dfdfdf;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.Payment_Method_Div {
  width: 65%;
}
.Payment_Order_Summary {
  width: 45;
}
.Payment_Method_PayNow {
  border-radius: 16px;
  background: var(--linear-2, linear-gradient(93deg, #797bb5 0%, #15208a 100%));
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  border: none;
  color: white;
  height: 48px;
  width: 20%;
}
.Payment_Method_PayNow_Btn {
  display: flex;
  justify-content: end;
}

.Payment_Order_Card {
  display: flex;
  border-radius: 16px;
  border: 1px solid #dfdfdf;
  background: #fff;
  box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
}
.Payment_Order_Card_ImgCard {
  margin: 0px;
  height: 120px;
  width: 130px;
}

.Payment_Order_Card_Content {
  text-align: center;
  width: 50%;
}

.Payment_Order_Card_Title {
}

.Payment_Order_Card_Total {
  margin: 0%;
}
.Payment_Order_Card_Categories {
  color: rgba(61, 70, 154, 1);
}

.Increment_Decrement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.Inc_Dec_btn {
  border-radius: 4px;
  background: var(--bg-purple-lighter, #edefff);

  color: var(--Dark-purple, #3d469a);
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.Payment_order_Card_Delete_Btn {
  font-size: 23px;
  color: #ff5c5c;
  width: 12%;
}

.Payment_Method_Expiration {
  display: flex;
  gap: 20px;
}

.Payment_Method_Input {
  border-radius: 16px;
  border: 1px solid #242424;
  background: #fff;
  width: 450px;
  height: 35px;
}

.Payment_Method_Expiration_Input {
  border-radius: 16px;
  border: 1px solid #242424;
  background: #fff;
  width: 200px;
  height: 35px;
  margin-bottom: 25px;
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid black;
  border-radius: 16px;
  width: 400px;
  margin-bottom: 15px;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 500px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

.Payment_Method_Cryptocurrency {
  align-items: center;
  border: 1px solid black;
  width: 500px;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
}
.Payment_Method_Crypto_li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  color: #242424;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 8px;
  margin-bottom: 10px;
}

.Payment_Method_FaBitcoin {
  font-size: 20px;
  color: #f6aa50;
}

.Payment_Method_FaEthereum {
  font-size: 20px;
  color: #697de8;
}

.Payment_Method_TbBrandBinance {
  font-size: 20px;
  color: #fcc84c;
  background-color: #d08715;
  border-radius: 50%;
  border: 2px #fcc84c solid;
}

.Payment_Method_BiShieldQuarter {
  font-size: 20px;
}
