.My_Account {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  margin-bottom: 50px;
}

.My_Acc_Btn_icon {
  align-items: center;
}
.My_Acc_Edit_btn {
  border-radius: 10px;
  background-color: rgba(237, 239, 255, 1);
  color: rgba(61, 70, 154, 1);
  border: none;
  height: 100%;
  padding: 10px 25px 10px 25px;
  display: flex;
  align-items: self-end;
  font-size: 15px;
  font-weight: 700;
}
.My_Acc_Edit_icon {
  font-size: 20px;
  align-items: center;
}

.My_Acc_Heading {
  margin: 0px;
}

.My_Acc_P {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 0px;
  margin-bottom: 10px;
}

.My_Acc_Input {
  background-color: rgba(247, 247, 247, 1);
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.My_Acc_Fields {
  width: 70%;
}

.My_Acc_Fields_Row {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.My_Acc_Option_icon {
  color: rgba(61, 70, 154, 1);
  font-size: 20px;
}

.My_Acc_Menu {
  border-radius: 16px;
  border: 1px solid #dfdfdf;
  background: #fff;
  padding: 20px;
  width: 15%;

  /* shadow 1 */
  box-shadow: 0px 4.444px 4.444px 0px #fefefe inset,
    0px -2px 4.444px 0px rgba(211, 211, 211, 0.5) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.16);
}

.My_Acc_Option {
  display: flex;
  align-items: center;
  margin: 0px;
  margin-bottom: 25px;
  width: 89%;
}
.My_Acc_Option:hover {
  background-color: #ffffff;
  color: var(--Dark-purple, #3d469a);
  background-color: rgba(237, 239, 255, 1);
  padding: 15px;
  border-radius: 16px;
}

.My_Acc_Fields_Option {
  display: flex;
}
