.Stay_Connected {
  /* background-color: rgba(237, 239, 255, 1);
  height: 100%;
  width: 100%; */

  background-color: rgba(237, 239, 255, 1);
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Stay_Connected_tag {
  font-size: medium;
  font-weight: 600;
  margin-bottom: 6%;
}
.Signup_input {
  border-radius: 14px;
  width: 400px;
  padding: 14px;
  border: none;
  border: 0.1px solid rgb(249 249 249);
  margin-bottom: 6%;
  box-shadow: 0px 25px 10px -22px rgb(229 229 229 / 40%);

  appearance: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

.Signup_input,
::placeholder {
  color: black;
}

.Over_Products {
  color: rgba(61, 70, 154, 1);
  font-size: 25px;
  font-weight: 700;
}

.Stay_icon_Group {
  display: flex;
  align-items: center;
}

.Stay_Icons {
  color: white;
  background-color: rgba(61, 70, 154, 1);
  border-radius: 50%;
  padding: 8px;
  font-size: 15px;
}

.Stay_Icons_Twitter {
  color: rgba(61, 70, 154, 1);
  border-radius: 50%;
  padding: 6px;
  font-size: 30px;
}

.Stay_Icons_Instagram {
  color: rgba(61, 70, 154, 1);
  border-radius: 50%;
  padding: 6px;
  font-size: 30px;
}
