.Card_row1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
}
.Card_row2 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  margin-bottom: 30px;
}
.Card_row3 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.trending_giftCards {
  font-size: 30px;
  font-weight: bolder;
  width: 90%;
  margin: 20px auto;
}

.card {
  border-radius: 10px;
  height: 100%;
  width: 240px;
  border: 0.1px solid rgb(249 249 249);
  box-shadow: 0px 6px 8px 3px rgb(229 229 229 / 95%);
  padding: 10px;
}

.Card_Image {
  width: 100%;
}

.Friendly {
  font-size: 20px;
  margin: 5px 0px;
}

.Gaming {
  color: rgba(61, 70, 154, 1);
  margin: 5px 0px;
}

.Usd_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.USD {
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 0px;
}

.add_cart {
  border-radius: 10px;
  background-color: rgba(237, 239, 255, 1);
  color: rgba(61, 70, 154, 1);
  border: none;
  height: 100%;
  padding: 12px 14px 12px 14px;
}
